.booking-summary-container {
  width: 500px;
  align-self: center;
  padding: 30px;
  border: 1px solid rgba(50, 50, 93, 0.125);
  border-radius: 5px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: rgba(50, 50, 93, 0.125) 0 40px 65px -12px,
    rgba(0, 0, 0, 0.13) 0 30px 35px -21px;
}

.booking-summary-label {
  color: rgba(50, 50, 93, 0.25);
  font-size: 14px;
  margin-top: 15px;
}

.booking-summary-cta-container {
  margin-top: 25px;
}

.booking-summary-date-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.booking-summary-restaurant-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

.booking-summary-restaurant {
    width: 100%;
    opacity: 1;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.38);
    position: absolute;
}

.booking-summary-restaurant input:hover {
    /* text-decoration: underline; */
    cursor: pointer;
    -webkit-text-fill-color: initial;
}


.booking-summary-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.booking-summary-header h3 {
  margin-right: 5px;
}
